.idea
.vscode
.cargo
vendor/
otel/demo/
composer.lock
!otel/tests/integration/opentelemetry-php/composer.lock
/.env
otel/Makefile.global
otel/acinclude.m4
otel/aclocal.m4
otel/config.guess
otel/config.sub
otel/configure.in
otel/install-sh
otel/missing
otel/mkinstalldirs
!otel/tests/reflection/composer.lock
