target/

*.diff
*.exp
*.log
*.out
*.php
*.sh

!tests/integration/*.php
!tests/integration/*.sh
!tests/reflection/*.php

Makefile.fragments
Makefile.objects
autom4te.cache
build
config.m4
config.h
config.h.in*
config.nice
config.status
configure
configure.ac
libtool
otel.cdx.json
THIRD_PARTY_LICENSES.html
